canvas.confetti {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

html,
body {
    height: 100%
}

body {
    /* display: grid; */
    /* place-items: center; */
    margin: 0;
    font-family: "Rubik", Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    background: var(--bg);
    color: var(--text);
}

h2 {
    margin-bottom: 2px;
    margin-top: 0px;
}
#date  {
  font-size:14px;
}

* {
    box-sizing: border-box
}

.wrap {

    margin: 20px auto;
    padding: 20px;
    border-radius: 14px;
    width: min(1200px, 96vw);
}

.header-container {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 10px 12px;
}

