canvas.confetti {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

html,
body {
    height: 100%
}


main { flex: 1; }

body {
    /* display: grid; */
    /* place-items: center; */
    margin: 0;
    font-family: "Rubik", Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    background: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    margin-bottom: 2px;
    margin-top: 0px;
}
h1 {
    margin-bottom: 10px;
    margin-top: 0px;
}

.btn {
     background: var(--key);
     border: 1px solid var(--border);
     border-radius: 10px;
     padding: 12px 6px;
     font-weight: 400;
     font-size: 16px;
     color: var(--text);
     margin: 5px;
     width: auto;
 }

 .btn.primary {
     background: #05a9ac;
     color: #000;
     border: none;
 }

.section {
    text-align: center;
    margin: 20px;
}

#date  {
  font-size:14px;
}

* {
    box-sizing: border-box
}

.main {
    margin: 20px auto;
    /* padding: 20px; */
    border-radius: 14px;
    width: min(1200px, 96vw);
}

#header-container {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 5px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    margin-bottom: 20px;
}

.muted {
    color: var(--muted);
    text-align: center;
}

.footer {
  margin-top: auto;                      /* pushes footer to bottom */
  padding: 14px 0 14px;                  /* comfortable spacing */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--muted);
  border-top: 1px solid rgba(255,255,255,0.08);
}

.footer-logo {
width: 37px;
height: 37px;
border-radius: 50%;
object-fit: cover;
/* border: 2px solid var(--muted); */
/* box-shadow: 0 0 6px rgba(0,0,0,0.2); */
}

.footer-text {
font-size: 14px;
font-weight: 600;
letter-spacing: 0.3px;
}


  .games  {
    /* font-family: 'Sugo Display', cursive; */
    /* color: var(--muted); */
    text-align: center;
    font-size: 1.75em;
  }
